html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.row-margin {
    margin: 10px 0;
}

h1 {
    color: blueviolet;
    font-style: oblique;
}

h2{
    color: aquamarine;
    font-style: revert-layer;
}